<% if(articles) { %>
  <ol>
    <% articles.forEach(function(article) { %>
      <%- include('article_item', { article: article }); %>
    <% }); %>
  </ol>
<% } else { %>
  <p>Nothing was found!</p>
<% } %>
